body {
    background-color: #EEEEEE;
    font-family: Verdana;
    font-size: 11px;
    line-height: 1.25em;
}

h1 {
    font-family: 20px;
    margin-top: 3em;
}

.chart {
    margin: 10px;
}

.bar {
    text-align: center;
    width: 40px;
    vertical-align: bottom;
    display: inline-block;
}

.bar.color0 {
    background-color: #aaedee;
}

.bar.color1 {
    background-color: #aaee33;
}

.bar.color2 {
    background-color: #ccff66;
}

.bar.color3 {
    background-color: #24eeaa;
}

.bar.color4 {
    background-color: #77aaee;
}

#footer {
    margin: 50px 0;
    text-align: center;
}
